*{
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4b4a4a;
}

body{
    background-color: black;
}

/* navbar */
.nav{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 10px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0,0,0,.5);
    z-index: 999;
}

.nav .logo a{
    margin-left: 40px;
}

.nav .nav-items ul {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.nav .nav-items ul li{
    position: relative;
    margin: 0px 10px;
    padding-bottom: 2px;
}

.nav .nav-items ul li a{
    font-size: 15px;
    font-weight: bold;
}

.nav .nav-items ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #2fb0e4;
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    transition: .2s;
    transform-origin: left;
    transform: scaleX(0);
}

.nav .nav-items ul li:hover:after{
    transform: scaleX(1);
}

/* navbar */

/* banner */
.banner{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.banner img{
    display: block;
    width: 1366px;
    filter: blur(1rem);
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.2;
    position: relative;
    bottom: 35rem;
    left: 8rem;
    opacity: .6;
}
/* banner */

.container{
    position: relative;
    z-index: 999;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -10px 50px rgba(0,0,0,.4);
}

.container-body{
    width: 80%;
    margin: auto;
}

/* about me */

.about-me{
    position: relative;
    display: flex;
}

.about-me .profile{
    position: relative;
    top: -6rem;
    margin-right: 30px;
    max-width: 280px;
    height: 380px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,.2);
}

.about-me .profile img{
    display: block;
    width: 100%;
    position: relative;
    top: 20px;
    right: 15px;
    scale: 2;
}
/* about me */


/* top */

.myself{
    width: 100%;
    height: 280px;
    position: relative;
}

.myself .top{
    position: relative;
    top: -5rem;
}

.myself .top h3{
    color: #fff;
    font-size: 18px;
}

.myself .top p{
    margin-top: 3px;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
}

.myself .top .social-media ul{
    display: inline-flex;
    margin-top: 3px;
    align-items: center;
}

.myself .top .social-media ul li {
    margin-right: 10px ;
    scale: 1;
    transition: .2s;
}

.myself .top .social-media ul li:hover{
    scale: 1.2;
}
.myself .top .social-media ul li:active{
    scale: .9;
}

.myself .top .social-media ul li img{
    display: block;
}

/* top */

/* bottom */
.myself .bottom{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.myself .bottom h3{
    margin-top: 1.5rem;
}

.myself .bottom .about{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.myself .bottom .about .about-left{
    width: 48%;
    text-align: justify;
}
.myself .bottom .about .about-right{
    width: 48%;
    text-align: justify;

}
.myself .bottom .about .about-bottom{
    margin: auto;
    width: 50%;
    text-align: justify;
    margin-top: 20px;
}

.myself .bottom .about strong{
    color: #4b4b4b;
}


/* bottom */

